/* ===================== animation keyframes ======================== */
@keyframes appear{
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 5%;
    }
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}




/* keyframes */
@keyframes navigate{
    o%{
        transform: translateY(0px) rotateZ(0deg) scale(1)
    }
    100%{
        transform: translateY(30px) rotateZ(-7deg) scale(1.05)
    }
}

@-webkit-keyframes ChangeGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes ChangeGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes ChangeGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes ChangeGradient {
    0%{background-position:0% 50%}
    25%{background-position: 50% 50%;}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* floaters animation paths */
@keyframes raiseBottomFromLeft{
    0%{
        top: 90%;
        left: 10%;
        opacity: 0.5;
        transform: rotate(0deg);
    }
    25%{
        top: 80%;
        left: 30%;
    }
    50%{
        top: 80%;
        left: 40%;
        opacity: 0;
        transform: rotate(180deg) scale(1.5);
    }
    75%{
        top: 70%;
        left: 40%;
        opacity: 1;
    }
    100%{
        top: 50%;
        left: 50%;
        opacity: 1;
        transform: rotate(360deg) scale(1);
    }
}
@keyframes raiseBottomFromRight{
    0%{
        top: 90%;
        left: 90%;
        opacity: 0.5;
        transform: rotate(0deg);
    }
    25%{
        top: 80%;
        left: 70%;
    }
    50%{
        top: 80%;
        left: 60%;
        opacity: 0;
        transform: rotate(180deg) scale(1.5);
    }
    75%{
        top: 70%;
        left: 60%;
    }
    100%{
        top: 50%;
        left: 50%;
        opacity: 1;
        transform: rotate(360deg) scale(1);
    }
}
@keyframes raiseMidFromLeft{
    0%{
        top: 50%;
        left: 10%;
        opacity: 0.5;
        transform: rotate(0deg);
    }
    25%{
        top: 40%;
        left: 30%;
    }
    50%{
        top: 40%;
        left: 40%;
        opacity: 0;
        transform: rotate(180deg) scale(1.5);
    }
    75%{
        top: 30%;
        left: 40%;
        opacity: 1;
    }
    100%{
        top: 10%;
        left: 50%;
        opacity: 1;
        transform: rotate(360deg) scale(1);
    }
}
@keyframes raiseMidFromRight{
    0%{
        top: 50%;
        left: 90%;
        opacity: 0.5;
        transform: rotate(0deg);
    }
    25%{
        top: 40%;
        left: 70%;
    }
    50%{
        top: 40%;
        left: 60%;
        opacity: 0;
        transform: rotate(180deg) scale(1.5);
    }
    75%{
        top: 30%;
        left: 60%;
    }
    100%{
        top: 10%;
        left: 50%;
        opacity: 1;
        transform: rotate(360deg) scale(1);
    }
}
@keyframes downFromLeft{
    0%{
        top: 10%;
        left: 10%;
        opacity: 0.5;
        transform: rotate(0deg);
    }
    25%{
        top: 30%;
        left: 30%;
    }
    50%{
        top: 30%;
        left: 40%;
        opacity: 0;
        transform: rotate(180deg) scale(1.5);
    }
    75%{
        top: 50%;
        left: 40%;
    }
    100%{
        top: 70%;
        left: 50%;
        opacity: 1;
        transform: rotate(360deg) scale(1);
    }
}
@keyframes downFromRight{
    0%{
        top: 10%;
        left: 90%;
        opacity: 0.5;
        transform: rotate(0deg);
    }
    25%{
        top: 30%;
        left: 70%;
    }
    50%{
        top: 30%;
        left: 60%;
        opacity: 0;
        transform: rotate(180deg) scale(1.5);
    }
    75%{
        top: 50%;
        left: 60%;
    }
    100%{
        top: 70%;
        left: 50%;
        opacity: 1;
        transform: rotate(360deg) scale(1);
    }
}
@keyframes mid{
    0%{
        top: 50%;
        left: 50%;
        opacity: 0.5;
    }
    20%{
        top: 30%;
        left: 70%;
        opacity: 0.5;
    }
    40%{
        top: 50%;
        left: 90%;
    }
    50%{
        opacity: 0;
        transform: scale(1.2);
    }
    60%{
        top: 70%;
        left: 50%;
    }
    80%{
        top: 50%;
        left: 10%;
    }
    100%{
        top: 30%;
        left: 30%;
        opacity: 1;
        transform: scale(1) rotate();
    }
}
@keyframes downwards{
    0%{
        top: 10%;
        left: 50%;
        opacity: 0.5;
        transform: rotate(0deg);
    }
    25%{
        top: 30%;
        left: 30%;
    }
    50%{
        top: 50%;
        left: 50%;
        opacity: 0;
        transform: rotate(180deg) scale(1.5);
    }
    75%{
        top: 70%;
        left: 70%;
    }
    100%{
        top: 90%;
        left: 50%;
        opacity: 1;
        transform: rotate(360deg) scale(1);
    }
}
@keyframes upwards{
    0%{
        top: 90%;
        left: 50%;
        opacity: 0.5;
        transform: rotate(0deg);
    }
    25%{
        top: 70%;
        left: 30%;
    }
    50%{
        top: 50%;
        left: 50%;
        opacity: 0;
        transform: rotate(180deg) scale(1.5);
    }
    75%{
        top: 30%;
        left: 70%;
    }
    100%{
        top: 10%;
        left: 50%;
        opacity: 1;
        transform: rotate(360deg) scale(1);
    }
}


